---
layout: default
---
<div>
  <div>
    {% for post in paginator.posts %}

    <article>
      <div class="post-meta">
        <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M" }}">{{ post.date | date:
          "%B %-d, %Y" }}</time>
      </div>
      <div>
        <h2 class="post-list-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <a href="{{ post.url | prepend: site.url }}" class="overlay"></a>
      </div>
      <div class="post-data">
        <p class="post-excerpt">{{ post.excerpt | strip_html}}</p>
      </div>
    </article>

    {% endfor %}
    <div class="paginator">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="mui-btn mui-btn-primary"><i class="fa fa-chevron-circle-left"></i>Previous</a>
      {% endif %}
      <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="mui-btn mui-btn-primary">Next<i class="fa fa-chevron-circle-right"></i></a>
      {% endif %}
    </div>
  </div>
</div>