---
---

@charset "UTF-8";

@import '{{ site.theme }}';

$accent: #ffd154; //#b5e853 in original theme;
$text :#eaeaea;
$back :rgb(25, 55, 66);
body {
    background: $back url(../images/background.png) 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

#main_content {
    padding: 16px;
    background-color: transparentize($back , 0.15);
    align-self: stretch;
    flex: 0 1 auto;
}

header {
    border-bottom-color: $accent;
    background-color: transparentize($back , 0.9);
    & h1 {
        color: $accent;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent;
}
h2{
    margin:.25em 0;
}
pre {
    color: $accent;
}

th {
    border-bottom-color: $accent;
}

hr {
    border-bottom-color: $accent;
    color:$accent;
}

a {
    color:$accent;
    text-shadow: 0 0 5px transparentize($accent, 0.8);
    text-decoration: none;
  
}
article{
    margin-top:4em;
    &:first-child{
        margin-top:1em;
    }

}
.post-meta{
    font-size:0.8em;
    color:transparentize($text, 0.5);
}

.post-excerpt{
    margin:0;
}

.paginator{
    margin-top:2em;
}