---
---

@charset "UTF-8";

@import 'default_colors';

@import '{{ site.theme }}';

body {
    background: #151515 url(../images/background.png) 0 0;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

#main_content {
    padding: 16px;
    background-color: rgba(25,55,66,85%);
    align-self: stretch;
    flex: 0 1 auto;
}