---
---

@import "{{ site.theme }}";

body {
    background: #151515 url(../images/background.png) 0 0;
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}
