<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/pple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c69f4bd338ffe00110310f4&product=social-ab' async='async'></script>
  {% seo %}
</head>

<body>

    {% include header.html %}

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
  
  {% include footer.html %}

  {% include ga.html %}
</body>

</html>